body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 20px;
}

header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 90px);
}

footer {
  margin: auto 0 0 0;
  width: 1050px;
}

.title {
  background: #e1f8e0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cap {
  display: flex;
  justify-content: center;
  margin-right: 8px;
}

.logo {
  margin-top: 12px;
}

.main-footer {
  display: flex;
  justify-content: flex-end;
  width: 850px;
  margin-top: 45px;
  align-items: center;
}

.price {
  font-weight: bold;
}

.number {
  display: inline-block;
  margin-left: 17px;
}

.button {
  margin: 0 10px 0 36px;
  background: #00756a;
  border-radius: 8px;
  color: white;
  width: 288px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.hpp {
  margin-top: 5px;
}

.pay-title {
  margin-top: 86px;
  font-size: 20px;
  font-weight: bold;
}

.store {
  margin-top: 36px;
}

.success-image {
  width: 150px;
  margin-top: 130px;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-msg {
  margin-top: 26px;
  font-weight: bold;
}

.success-btn {
  margin: 20px 0 0;
  width: 186px;
}

.page-title {
  text-align: center;
  margin: 50px 0 0;
  font-size: 27px;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 8px;
  margin-top: 45px;
}

.checkout-content svg {
  width: 50px;
  height: 50px;
}

.checkout-text {
  margin: 0 auto 0 20px;
}

.account-info {
  text-align: right;
  font-size: 10px;
  color: #dddddd;
}
